*{
    margin: 0;
    padding: 0;
}
.ant-layout{
    width: 100%;
}
.ant-layout-content {
    background-color: #eee;
    flex: 1;
}
.ant-layout-footer{
    background: #353d53;
    height: 253px;
}
.bw_bottom{
    width: 100%;
    background: #353d53;
}
.bw_bottom .b_b_detail[data-v-01b3f466] {
    width: 100%;
    margin: 0 auto;
    height: 180px;
    background: #353d53;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.bw_bottom[data-v-01b3f466] {
    width: 100%;
    background: #353d53;
}
.bw_bottom .b_b_detail .b_b_left[data-v-01b3f466] {
    width: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
div {
    display: block;
}
.bw_bottom .b_b_detail .b_b_middle[data-v-01b3f466] {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 97px;
}
.bw_bottom .b_b_detail .b_b_middle .middle[data-v-01b3f466] {
    text-align: center;
}
.bw_bottom .b_b_detail .b_b_right[data-v-01b3f466] {
    width: 5%;
    height: 100%;
    margin-left: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.wechat_text{
    width: 100px;
}
.bw_bottom .b_b_detail .b_b_right .wechat_text[data-v-01b3f466] {
    margin-top: 10px;
    font-size: 14px;
    font-family: SourceHanSansCN-Regular,SourceHanSansCN;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}
.bw_bottom .b_b_detail .b_b_middle[data-v-01b3f466] {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 97px;
}
.b_b_sign_bootm_son {
    width: 100%;
    text-align: center;
    line-height: 47px;
    height: 47px;
    background: #252b3a;
    font-size: 12px;
    font-family: SourceHanSansCN-Regular,SourceHanSansCN;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
}
.bw_bottom .b_b_detail .b_b_left[data-v-01b3f466] {
    width: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.bw_bottom .b_b_detail .b_b_left .b_w_tel[data-v-01b3f466] {
    font-size: 21px;
    margin-top: 43px;
    color: white;
}
.bw_bottom .b_b_detail .b_b_middle[data-v-01b3f466] {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 97px;
}
.bw_bottom .b_b_detail .b_b_middle[data-v-01b3f466] {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 97px;
}
.href_a>a{
    color: rgb(223, 223, 223);
}
.middle_title{
    color: white;
    font-size: 15px;
}