* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.cww_project_box {
  width: 100%;
  height: 100%;
  background: #eee;
}

.cww_project_box .shen {
  width: 90%;
  height: 100%;
  background: #fff;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  background: #eee;
}

.cww_project_box .shen .box_herad {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;

}

.cww_project_box .yz {
  display: inline-block;
  width: 110px;
  text-align: center;
  height: 20px;
  border-left: 4px solid #679cf6;
  line-height: 20px;
  font-size: 20px;
  margin-left: 15px;
}

.cww_project_box .btn {
  display: flex;
  .btn1 {
    width: 115px;
    height: 40px;
    color: black;
    border-radius: 5px;
    border: 1px solid #679cf6;
    margin-right: 10px;
  }

  .btn2 {
    width: 101px;
    height: 40px;
    border: 1px solid #679cf6;
    border-radius: 5px;
    background: #1890ff;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;

    span {
      color: #fff;
    }
  }
}

.cww_project_box .box_shen {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  background: #fff;

}

.cww_project_box .box_shen .cww_one {
  width: 100%;
  height: 70px;
  border-bottom: 3px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cww_project_box .cww_one_s1 {
  display: inline-block;
  width: 100px;
  height: 20px;
  border-left: 4px solid #679cf6;
  line-height: 20px;
  font-size: 18px;
  margin-left: 15px;
}

.cww_one_s2 {
  width: 55px;
  height: 24px;
  margin-right: 10px;
  color: #679cf6;
}

.cww_two {
  width: 100%;
  height: 368px;
  padding: 40px 33px;
}

.cww_two_one {
  box-sizing: inherit;
  width: 100%;
  height: 100%;
}

.cww_two_two {
  width: 70%;
  height: 100%;
  float: left;
  box-sizing: inherit;
  font-size: 16px;
  font-size: 14px;
  color: #606266;
}

.cww_two_san {
  height: 100%;
  width: 30%;
  float: left;
  box-sizing: inherit;

}

.cww_two_two_one {
  width: 100%;
  height: 58px;
}

.cww_two_two_two {
  width: 100%;
  height: 53px;
}

.cww_two_two_san {
  width: 100%;
  height: 58px;
  margin-top: 24px;
}

.cww_two_two_si {
  width: 100%;
  height: 58px;
}

.cww_project_box .ipt1 {
  width: 390px;
  height: 36px;
}

.cww_project_box .ipt2 {
  width: 141px;
  height: 36px;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #DCDFE6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  line-height: 40px;
  outline: none;
  padding: 0 15px;
}

.cww_project_box .ipt7 {
  width: 592px;
  height: 53px;
  margin-left: 78px;
}

.cww_project_box .ipt3 {
  width: 273px;
  height: 29px;
  margin-left: 27px;
}

.cww_project_box .ipt4 {
  width: 280px;
  height: 29px;
}

.cww_project_box .ipt5 {
  width: 180px;
  height: 29px;
  margin-left: 29px;
  margin-right: 35px;
}

.cww_project_box .ipt6 {
  width: 120px;
  height: 27px;
  border-radius: 6px;
}

.cww_project_box .ipt8 {
  width: 217px;
  height: 36.7px;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #DCDFE6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  line-height: 40px;
  outline: none;
  padding: 0 15px;
}

.cww_two_two input {
  -webkit-appearance: none;
  background-color: #FFFFFF;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #DCDFE6;
}

.cww_two_san_one {
  width: 15%;
  height: 50%;
  float: left;
}

.cww_two_san_two {
  width: 69%;
  height: 37%;
  float: left;
  border: 1px solid #ddd;
}

.cww_two_san_san {
  width: 100%;
  height: 50%;
  float: left;

}

.cww_one_s1 b {
  margin-left: 10px;
}
.footer{
  width: 90%;
  margin-left: 5%;
  background: #fff;
  margin-top: 10px;
  display: flex;
  .footer_top{
    margin-left: 15px;
    height: 60px;
    line-height: 60px;
    h1{
      margin-left: 0px;
      font-weight: 900;
      color: #999;
    }
  }
}