
.resource_type{
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    min-height: 200px;
    line-height: 40px;
    font-size: 14px;
}
.r_t_title1{
    margin-left:84px;
    padding: 15px 0;
}
.r_t_title2{
    margin-left:60px;
    padding: 10px 0;

}
 .major{
    float: left;
    display: inline-block;
}
.list{
    float: left;
}
.rankitem{
    padding: 4px 15px;
    margin: 5px;
}
.active{
    background: #679cf6;
    color: white;
    border-radius: 18px;
}
.interviewtab{
    width: 80%;
    margin: 0 auto;
}
