// 待处理问答
.questionHandle{
    width: 100%;
    font-size: 14px;
    // 头
    .title{
        height: 70px;
        background: rgb(230,235,247);
        margin: 0 auto;
    }
    // 主体
    .box_content{
        width: 95%;
        margin: 0 auto;
        // 来源和状态
        .one{
            background: #fff;
            padding: 30px 0 30px 30px;
            // 来源
            .train_resource{
                display: flex;
                align-items: center;
                margin: 10px 0px;
                span{
                    margin-left: 15px;
                    padding: 4px 12px;
                }
            }
            // 状态
            .resource_type{
                display: flex;
                align-items: center;
                margin: 10px 0px;
                span{
                    margin-left: 15px;
                    padding: 4px 12px;
                }
            }
        }
        
    }
}