.questionDetail_box{
    width: 100%;
    font-size: 14px;
    .title{
        width: 100%;
        height: 80px;
        line-height: 80px;
        background: rgb(230,235,247);
        margin: 0 auto;
        // font-size: 14px;
    }
}

.state{
    display: flex;
    flex-direction: row;
    background: #fff;
    width: 96%;
    height: 80px;
    line-height: 80px;
    margin:10px 30px;
    b{
        font-size: 14px;
        font-weight: normal;
    }
    >ul{
        >span{
            padding: 4px 12px;
            margin: 0px 4px 0px 0px;
        }
        >span.active{
            background-color: rgb(103,156,246);
            color: #fff;
            border-radius: 15px;
        }
    }
}
.questiondetail{
    width: 74%;
    background: #fff;
    margin-left: 13%;
    box-shadow: 0px 0px 10px 0px rgb(228, 221, 221);
}
.icon{
    font-size: 16px;
}
.List{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Item{
    background: #fff;
    width: 1464px;
    display: flex;
    flex-direction: row;
    >div{
        width: 10%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        >button{
            margin-top: 50%;
            width: 100px;
            height: 40px;
            background: #679cf6;
            border-radius: 4px;
        }
    }
    >ul{
        flex: 1;
        >li{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}
.labels{
    display: flex;
    justify-content:  flex-start !important;
    >span{
        padding: 5px 10px;
        border-radius: 15px;
        border: 1px solid #679cf6;
        text-align: center;
        font-size: 12px;
        color: #679cf6;
        margin-right: 15px;
    }
}
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
// .search{
//     width: 1464px;
//     height: 100px;
//     background: #fff;
//     margin: 5px;
   
// }
.search{
    width: 1464px;
    height: 100px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
   margin: 5px 0;
    .s1{
        display: flex;
        align-items: center;
        margin-left: 10px;
        >input{
            margin: 5px;
        }
        >span{
            margin-right: 10px;
        }
    }
}
// 我要提问按钮
.question{
    background: #FF8D41;
    color: #fff;
    outline: none;
    border: none;
    font-size: 14px;
    border-radius: 4px;
    margin-left: 20px;
}
.input{
    margin: 0 15px;
    border-radius: 4px;
}
:global{
  li{
    list-style: none;
  }  
  .body{
      margin: 0 auto;
  }
}
