.chatlogin {
    width: 400px;
    height: 200px;
    border: 1px solid #ccc;
    margin: 200px auto;
    text-align: center;
}
.weichat{
    width: 800px;
    height: 600px;
    border:"1px solid #000";
    background-color: blanchedalmond;
    
}
.self{
    /* float: right; */
    height: 30px;
    color: blueviolet;
}
.other{
    /* float: left; */
    height: 30px;
    color: cadetblue;
}