.top-img{
    width: 150px;
    height: 40px;
    margin-right: 30px;
}
.navtop{
    color: #fff;
}
.b_b_detail{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ant-dropdown-trigger{
    color: #ffff;
    margin-left: 50px;
}
.ant-layout-footer{
    background: #000;
}
.b_b_middle{
    display: flex;
   
    margin:0 150px;
}